* {
    font-family: "JetBrains Mono", monospace;
    --dark-col: #111111;
    --light-col: #ffffff;
    --primary-col: #000000;
    --secondary-col: #faca2d;

    color: var(--light-col);
}

/* #region content blocks */
header, footer {
    height: 80px;
    width: 100%;
    box-sizing: border-box;

    border: 2px solid transparent;

    padding: 15px;

    display: flex;
}

header { border-bottom-color: var(--light-col); }
footer { border-top-color: var(--light-col); }

body {
    background-color: var(--dark-col);
    overflow-x: hidden;

    margin: 0;
}
/* #endregion */

/* #region header content */
#logo {
    height: 100%;
    aspect-ratio: 1;
}

.header-sect {
    display: flex;
    
    * { margin-right: 40px; }
    
    a {
        display: flex;
        align-content: center;
    }

    *:last-child { margin-right: 0; }

    #logo { margin-right: -20px; }
}

.header-sect:last-child {
    margin-left: auto;
}
/* #endregion */

/* #region headers */
main *:is(h1, h2, h3, h4, h5, h6) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

header *:is(h1, h2, h3, h4, h5, h6) {
    margin-top: auto;
    margin-bottom: auto;
}

h1, h2, h3, h4, h5, h6 {
    overflow: hidden;
    width: min-content;
    white-space: nowrap;
}

h1 { font-size: 50px; border-radius: 35px; }
h2 { font-size: 40px; }

hgroup {
    margin-top: -10px;
    margin-bottom: 30px;
}

article {
    margin-bottom: 20px;
}

code {
    background-color: rgb(49, 49, 49);
    padding-left: 5px;
    padding-right: 5px;
}
/* #endregion */

p:last-child {
    margin-bottom: 0;
}

#content {
    margin-top: 50px;
    margin-bottom: 50px;

    width: 80%;
}

#capsule-links {
    width: min-content;
    white-space: nowrap;
    
    * {
        padding: 5px;
        padding-right: 8px;
        padding-left: 8px;

        margin: 0 5px 0 5px;
    }
}

#technology div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    section {
        width: 30%;
        border: 2px solid rgb(225, 233, 232);
        border-radius: 14px;

        padding: 15px;

        h3 {
            display: flex;
            flex-direction: row;
            margin-top: 0;

            img {
                height: 25px;
                margin-right: 10px;
                border-radius: 50%;
            }
        }
    }

    section:first-child {
        border-color: #ffe08a;
    }

    section:last-child {
        border-color: #c560ec;
    }
}

/* #region centers */
.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
}
/* #endregion */

/* #region capsules */
h1 .capsule-dark, h1 .capsule-light {
    padding-left: 35px;
    padding-right: 35px;
}

.capsule-light {
    background-color: var(--secondary-col);
    color: var(--primary-col);
}

.capsule-dark {
    background-color: var(--primary-col);
    color: var(--secondary-col);
}

.shader-capsule {
    background-image: url("../assets/mango.png");
    background-size: 100% 100%;
}

.cybersec-capsule {
    box-shadow: inset 2px 2px lime;
    border-radius: 4px 0 0 0;
}
/* #endregion */

.horizontal-list {
    width: min-content;

    padding: 0;

    text-wrap: nowrap;
    list-style: none;
    display: flex;
    flex-direction: row;

    li {
        margin-left:  20px;
        margin-right: 20px;

        font-size: larger;
    }
}
